<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main/base.css">
    <link rel="stylesheet" href="../../css/main/friends.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Habbitica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html">Кошелек</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="goals.html">Достижения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="friends.html">Друзья</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../auth/signin.ftlh">Вход</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="label friends">
                    Друзья
                </div>
                <div class="friends-list">
                    <div class="friend-info">
                        <a href="">Друг</a>
                    </div>
                    <div class="friend-info">
                        <a href="">Друг</a>
                    </div>
                    <div class="friend-info">
                        <a href="">Друг</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="label search-friends">
                    Найти Друзей
                </div>
                <form class="search-form">
                    <div class="input-group mb-3">
                        <input name="login_or_name" id="find-user-input" type="text" class="form-control"
                            placeholder="Find someone..." aria-describedby="basic-addon1">
                    </div>
                    <button id="find-user-button" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </form>
                <div class="label suggestions">
                    Предложения
                </div>
                <div class="suggestions-list">
                    <div class="user-info">
                        <a href="">Потенциальный друг</a>
                    </div>
                    <div class="user-info">
                        <a href="">Потенциальный друг</a>
                    </div>
                    <div class="user-info">
                        <a href="">Потенциальный друг</a>
                    </div>
                </div>

            </div>
        <div class="col">

        </div>
    </div>
    </div>

    <footer class="footer">
        <div class="second-footer">Copyright ©2021 All rights reserved</div>
    </footer>
</body>

</html>