<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main/base.css">
    <link rel="stylesheet" href="../../css/main/index.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Habbitica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html">Кошелек</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="goals.html">Достижения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="friends.html">Друзья</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../auth/signin.ftlh">Вход</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="user-info">
                    <div class="user-avatar">
                        <img src="6573f2c6c387aad57a577e27fc471a85.jpg" class="avatar">
                    </div>
                    <div class="user-name">
                        Someone's name 
                    </div>
                </div>

                <div class="mini-nav-panel">
                    <div class="mini-nav-option">
                        <a href="transactions.html">Транзакции</a>
                    </div>
                    <div class="mini-nav-option">
                        <a href="shop.html">Магазин</a>
                    </div>
                    <div class="mini-nav-option">
                        <a href="mytasks.html">Мои задачи</a>
                    </div>
                    <div class="mini-nav-option">
                        <a href="edit.html">Редактировать</a>
                    </div>
                    <div class="mini-nav-option">
                        <a href="mygoals.html">Мои достижения</a>
                    </div>
                    <div class="mini-nav-option">
                        <a href="friends.html">Мои друзья</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="second-footer">Copyright ©2021 All rights reserved</div>
    </footer>
</body>

</html>