<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main/base.css">
    <link rel="stylesheet" href="../../css/main/tasks.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Habbitica</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Личный кабинет</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="shop.html">Кошелек</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="goals.html">Достижения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="friends.html">Друзья</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../auth/signin.ftlh">Вход</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-6">
                <div class="label achievements">
                    Все задания
                </div>
                <div class="tasks-container">
                    <form>
                        <div class="task">
                            <div class="task-option task-category">
                                Курение
                            </div>
                            <div class="task-option task-description">
                                Выкурите сигарету
                            </div>
                            <div class="task-option task-reward">
                                -100
                            </div>
                            <div class="task-option task-actions">
                                <button type="button" class="btn btn-primary buy-button">Взять</button>
                            </div>
                        </div>
                    </form>
                    <form>
                        <div class="task">
                            <div class="task-option task-category">
                                Пульс
                            </div>
                            <div class="task-option task-description">
                                Измерьте пульс
                            </div>
                            <div class="task-option task-reward">
                                50
                            </div>
                            <div class="task-option task-actions">
                                <button type="button" class="btn btn-primary buy-button">Взять</button>
                            </div>
                        </div>
                    </form>
                    <form>
                        <div class="task">
                            <div class="task-option task-category">
                                Экономия
                            </div>
                            <div class="task-option task-description">
                                Контролируйте расходы
                            </div>
                            <div class="task-option task-reward">
                                10
                            </div>
                            <div class="task-option task-actions">
                                <button type="button" class="btn btn-primary buy-button">Взять</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="label achievement-categories">
                    Категории
                </div>
                <div class="categories">
                    <p><a href="/achievements/Учеба">Бюджет</a></p>
                    <p><a href="/achievements/Спорт">Вредные привычки</a></p>
                    <p><a href="/achievements/Здоровье">Здоровье</a></p>
                    <p><a href="/achievements/Порядок">Правильное питание</a></p>
                    <p><a href="/achievements/Порядок">Спорт</a></p>
                    <p><a href="/achievements/Порядок">Тайм менеджмент</a></p>
                    <p><a href="/achievements/Порядок">Учеба</a></p>
                    <p><a href="/achievements/Порядок">Добавить задачи</a></p>
                    <p><a href="/achievements/Порядок">Порядок</a></p>

                </div>
            </div>
            <div class="col">

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="second-footer">Copyright ©2021 All rights reserved</div>
    </footer>
</body>

</html>